* {
  margin: 0;
  box-sizing: border-box;
}

input,
input:focus {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  transition: all 0.4s ease;
}

input:focus {
  background-color: #e4e8ff;
}

.App {
  text-align: center;
  max-width: 95%;
  /* padding: 0 5% 8rem; */
  margin: auto;
  padding-bottom: 8rem;
  /* border: 2px solid #b00814; */
}

.poster-wrapper {
  border: 0.5rem solid #a40505;
  padding: 2%;
  position: relative;
}

.tool-tip {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 3em;
  font-size: 1em;
  background-color: #7ba1f9;
  /* display: none; */
}

.logo-main {
  /* margin-bottom: 1rem; */
  max-width: clamp(15rem, 40%, 30rem);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  gap: 1rem;
  padding: 1em;
}

nav a {
  transition: all 0.6s ease;
}

nav a,
nav a:hover,
nav a:visited,
nav a:active {
  color: rgb(107, 107, 107);
  text-decoration: none;
  font-weight: 600;
}

nav a:hover,
nav a:active {
  color: #3575eb;
  /* text-decoration: underline; */
}

.poke-card {
  max-width: 600px;
  margin: auto;
  border: 20px solid #f9d108;
  background-color: #2c60db;
  background: rgb(155, 182, 247);
  background: linear-gradient(
    0deg,
    rgba(155, 182, 247, 1) 0%,
    rgba(44, 96, 219, 1) 100%
  );
  border-radius: 3rem;
}

h1.subtitle {
  margin-bottom: clamp(1rem, 5vw, 2rem);
}

.poke-card {
  padding: 0 2rem 2rem;
}

.poke-card h1 {
  font-size: clamp(1rem, 10vw, 4rem);
  color: #fff;
  padding: 0.5em;
}

.poke-card img {
  width: 80%;
}

.poke-card p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.poke-card span {
  display: list-item;
  list-style-position: inside;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  margin: auto;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  margin-bottom: 4rem;
  justify-content: center;
  height: 100%;
  border-radius: 8rem;
  overflow: hidden;
  border: 6px solid #3575eb;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.filter-wrapper-active {
  border: 6px solid #7ba1f9;
  /* background-color: #c9d8fc; */
}

.search-button {
  display: flex;
  width: 5rem;
  /* height: ; */
  background-color: #3575eb;
  color: #fff;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  /* border-radius: 4rem; */
}

/* .search-button > * {
  font-size: 2em;
} */

.filter-poke {
  padding: 1em;
  font-size: 1.2rem;
  border-radius: 0px;
}

.span-large {
  font-size: 3rem;
  margin-right: 0.5rem;
  font-weight: 600;
  transform: rotate(110deg);
  display: inline-block;
}

.poke-list .flex-child {
  max-width: 30vw;
  min-width: 20%;
  flex: 1 0 0;
  /* -webkit-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.12); */
  /* border-radius: 1rem; */
  overflow: hidden;
}

.poke-list a {
  text-decoration: none;
}

.poke-list a,
.poke-list a:link,
.poke-list a:visited {
  color: #1f1f1f;
}

.poke-list img {
  width: 100%;
  /* background-color: #61dafb; */
}

.poke-list .card-detail {
  padding: 0 1em 1em;
}

.poke-list h3 {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  text-transform: uppercase;
}
