* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 95%;
  margin: auto;
}

.logo-main {
  margin-bottom: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  gap: 1rem;
  padding: 1em;
}

nav a {
  transition: all 0.6s ease;
}

nav a,
nav a:hover,
nav a:visited,
nav a:active {
  color: rgb(107, 107, 107);
  text-decoration: none;
  font-weight: 600;
}

nav a:hover,
nav a:active {
  color: #3575eb;
  /* text-decoration: underline; */
}

.logo-main {
  max-width: 40%;
}

.poke-card {
  max-width: 600px;
  margin: auto;
  border: 20px solid #f9d108;
  background-color: #2c60db;
  background: rgb(155, 182, 247);
  background: linear-gradient(
    0deg,
    rgba(155, 182, 247, 1) 0%,
    rgba(44, 96, 219, 1) 100%
  );
  border-radius: 3rem;
}

h1.subtitle {
  margin-bottom: 2rem;
}

.poke-card {
  padding-bottom: 2rem;
}

.poke-card h1 {
  font-size: clamp(1rem, 10vw, 4rem);
  color: #fff;
  padding: 0.5em;
}

.poke-card img {
  width: 80%;
}

.poke-card p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  margin: auto;
}

.poke-list .flex-child {
  max-width: 30vw;
  min-width: 20%;
  flex: 1 0 0;
  -webkit-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 21px 1px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  overflow: hidden;
}

.poke-list a {
  text-decoration: none;
}

.poke-list img {
  width: 100%;
  background-color: #61dafb;
}

.poke-list .card-detail {
  padding: 1em;
}

.poke-list h3 {
  font-size: clamp(0.6rem, 2vw, 1.2rem);
}
